
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loade {
    position: relative;
    width: 96px;
    height: 96px;
    display: flex;
    

    justify-items: end;
    transform: rotate(45deg);
   }
   
   .loade-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loade-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loade-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loade-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loade-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loade-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loade-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loade-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loade-square:nth-of-type(7) {
    animation-delay: -10s;
   }
   /* Scoped styles for the Services component */
.services h3 {
    color: #BBBBAE; /* Initial color of the text */
    opacity: 0.6; /* Make text slightly visible */
    transition: opacity 0.3s ease, color 0.3s ease; /* Smooth transition */
  }
  
  /* Hover effect for individual h3 elements */
  .services .flex-row:hover h3 {
    opacity: 1; /* Fully visible on hover */
    color: #D1D1C7; /* Change text color on hover if needed */
  }
  
  /* Ensure the rest of the layout is unaffected */
  .services .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #BBBBAE;
    padding: 1rem;
  }
  
  .services .flex-row a svg {
    fill: rgb(240, 227, 202);
  }
  